* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* Changed header from a class to a semantic element*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Changed header from a class to a semantic element*/
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Changed header from a class to a semantic element*/
header h1 .seo {
    color: #d9dcd6;
}

/* Changed header from a class to a semantic element. Added a nav element in html to replace existing divs*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}


/* Changed header from a class to a semantic element. Added a nav element in html to replace existing divs*/
header nav ul {
    list-style-type: none;
}

/* Changed header from a class to a semantic element. Added a nav element in html to replace existing divs*/
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Changed 'content' from a class to a 'main' semantic element.*/
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/*Replaced 'footer' class with footer semantic element*/

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}

/* Replaced 'benefits' class with aside element */

aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Consolidated search-engine-optimization,  'online-reputation-management', and social-media-marketing classes into 'section-1' class */

.section-1 {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}


.section-1 img {
    max-height: 200px;
}

.section-1 h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Consolidated benefit-lead, benefit-brand, and benefit-cost classes into 'section-2' class */


.section-2 {
    margin-bottom: 32px;
    color: #ffffff;
}

.section-2 h3 {
    margin-bottom: 10px;
    text-align: center;
}

.section-2 img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
